body {
    background-color: #2b2b29;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    margin: 0;
}


.title {
    position: absolute;
    color: white;
    top: 0;
    width: 100%; 
    text-align: center; 
    font-size: 50px;
    font-style: normal; 
    padding: 10px;
    box-sizing: border-box; 
}

.text_container {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

p {
    place-items: center;
    text-align: center;
    color: white;
    font-size: 23px;
}

.disclaimer {
    place-items: center;
    text-align: center;
    color: #E8590C;
    font-size: 26px;
    font-style: italic;
} 

button {
    display: grid;
    place-items: center;
    width: 500px;
    height: 80px;
    background-color: #ffa94d;
    color: white;
    border-radius: 15px;
    border: none;
}
