body {
    background-color: #2b2b29;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
}


.title {
    display: grid;
    place-items: center;
    color: white;
    font-size: 50px;
    font-style: regular;
}

p {
    display: grid;
    place-items: center;
    color: white;
    font-size: 23px;
}
