body {
    background-color: #2b2b29;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
}


.title {
    display: grid;
    place-items: center;
    color: white;
}
